<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div id="wordlist">
  <div class="row">
    {% for word in g.vocab %}
      <div class="col-xs-2 text-center"> {{ word }} </div>
      {% if loop.index is divisibleby 3 %}
      </div> <!-- row -->
      <div class="row">
      {% endif %}
    {% endfor %}
  </div> <!-- row -->
</div>

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div>

  <div id="anagram" >
    <div class="row">
    <div class="col-xs-6 text-center lead">
      <strong>{{ session.jumble }}</strong>
    </div>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>
<br />

<p id="results">
<p id="message">

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>


<script>
  $("#entry").submit( function(event) {
   event.preventDefault();
  });

  $("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }
   
   
   var options = { "noMatch": function(term){
        $("#attempt").val("");
    }
  }
   
   $("#wordlist").unmark(txt - txt[txt.length - 1]);
   $("#wordlist").mark(txt, options);

   $.getJSON( "/_check", { text: txt }, 
              function(data) {
                rsval = data.result.error_trigger;
                console.log("rsval: " + rsval)
                console.log("message: " + data.result.error_message)
                console.log("text: " + txt)
                if (rsval) {
                   $("#message").html(data.result.error_message);
                } else {
                    $("#results").append(txt + " ");
                    $("#attempt").val("");
                    $("#message").html("");
                    $("#wordlist").unmark(txt);
                    shade_anagram(txt);
                     
                }
                if(data.result.complete){
                  window.location.href = "http://localhost:"+data.result.port+"/success"
                }
               }
           );
   }); 

  function shade_anagram(text){
    for (var i=0; i < text.length; i++) {
      $("#anagram").mark(text[i]);
    }
  }

</script>


 </div> <!-- container -->
</body> </html>
